---
layout: default
title: RobustWryAle
---
<!DOCTYPE html>
<html>
  <body>
      <h1>
      {% for post in site.posts limit:1 %}
	     <a href="{{ site.baseurl}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      {% endfor %}
      </h1>
      {% for post in site.posts limit:1 %}
      <p class="meta">{{ post.date | date_to_string }}</p>
      {% endfor %}
    <hr>
    <section id="latest-post">
      {% for post in site.posts limit:1 %}
      <div class="entry-content">{{ post.content }}</div>
      {% endfor %}
    </section>
  </body>
</html>
