<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    	  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	  <![endif]-->
    <title>RobustWryAle Blog by 4pstart</title>
	</head>
	<body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>RobustWryAle Blog</h1>
          <h2>It&#39;s a blog!</h2>
        </header>

        <section id="nav" class="clearfix">
        	<a href="/" id="Home" class="button"><span>&nbsp &nbsp Home</span></a>
	        <a href="/about" id="About" class="button"><span>About Me</span></a>
	       	<a href="/blog" id="Blog" class="button"><span>Blog Posts</span></a>
        </section>

        <hr>

        <section id="main_content">
			  	{{ content }}
			    
			  </section><!-- /.container -->
				<footer>
	    		<ul>
	    	   	<li><a href="mailto:4pstartblog@gmail.com">4pstartblog@gmail.com</a></li>
	        	<li><a href="https://github.com/4pstart">github.com/4pstart</a></li>
					</ul>
				</footer>
			</div>
		</div>
	</body>
</html>
